<h2>Edit your blogg</h2>

<form action="/bloggs/<%= @blogg['id']%>/update" method="post">
  <label> 
      <input type="text" name="heading" value="<%= @blogg['heading']%>">
  </label>
  <label>
      <input type="text" name="description" value="<%= @blogg['description']%>">
  </label>
  <label>
      <input type="text" name="category_id" value="<%= @blogg['category_id']%>">
  </label>
  <input type="submit" value="Update">
</form>