
<ul>
<% @bloggs.each do |blogg| %>
  <li>
    <a href="/bloggs/<%= blogg["id"]%>">
     <%= blogg['heading'] %>
    </a>
    <!--
    <form class="delete" action="/bloggs/<%= blogg["id"]%>/delete" method="post">
    <input type="submit" value="Ta bort">
    <a class="edit" href="/bloggs/<%=blogg["id"]%>/edit">Ändra</a>
    </form>
    -->
  </li>
<% end %>
</ul>