<h2>New post</h2>

<form action="/bloggs" method="post">
    <label> Header
        <input type="text" name="heading">
    </label>
    <label> Description
        <input type="text" name="description">
    </label>
     <label> Category
        <input type="text" name="category_id">
    </label>
    

    <input type="submit" value="Spara">
</form>
